.sew-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  overflow: auto;
  position: absolute;
  font: 11px Lucida Grande, Tahoma, sans-serif;
  white-space: nowrap;
  padding: 0 0 50%;
}
.sew-app::-webkit-scrollbar {
  background: #eee;
  width: 11px;
  height: 11px;
}
.sew-app::-webkit-scrollbar-thumb {
  background: #bbb;
  border: 3px solid #eee;
  border-radius: 11px;
}
.sew-app::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.sew-app::-webkit-scrollbar-thumb:active {
  background: #555;
}
.sew-thread {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.sew-thread-messages {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin: 8px;
}
.sew-message {
  padding: 8px;
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.sew-message:first-child {
  border-top: 0;
}
.sew-message-header {
  margin-bottom: 8px;
}
.sew-message-author {
  font-weight: bold;
  display: inline;
}
.sew-message-time {
  color: rgba(0, 0, 0, .4);
  float: right;
}
.sew-message-body,
.sew-message-measure {
  font: 14px Helvetica, Arial, sans-serif;
  position: relative;
  white-space: pre-wrap;
}
.sew-message-input {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  resize: none;
}
.sew-message-measure {
  position: absolute;
  left: -99999px;
  top: -99999px;
  width: 100%;
  white-space: pre-wrap;
}
.sew-message-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
.sew-message-input:-moz-placeholder {
  color: rgba(0, 0, 0, .4);
}
.sew-message-input::-moz-placeholder {
  color: rgba(0, 0, 0, .4);
}
.sew-message-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
.sew-thread-line {
  position: absolute;
}
