body {
  overflow: hidden;
}
.hoth-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  overflow: auto;
  position: absolute;
  font: 11px Lucida Grande, Tahoma, sans-serif;
  white-space: nowrap;
}
.hoth-thread-scrollbar {
  width: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .05);
  z-index: 2;
}
.hoth-thread-scrollbar-handle {
  position: absolute;
  left: 0;
  width: 8px;
  background: rgba(0, 0, 0, .1);
}
.hoth-thread-markers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hoth-thread {
  width: 300px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 8px;
}
.hoth-thread-name {
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
  background: #333;
  font: 14px Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, .95);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  z-index: 1;
}
.hoth-thread-name::before {
  content: '# ';
  color: rgba(255, 255, 255, .6);
}
.hoth-thread-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.hoth-thread.named .hoth-thread-content {
  top: 32px;
}
.hoth-thread-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hoth-thread-messages {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin: 0 8px 8px 8px;
}
.hoth-message {
  padding: 8px;
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.hoth-message.system {
  background-color: #f8f8f8;
}
.hoth-message.error {
  background-color: #fff5f5;
  color: #a00;
}
.hoth-message.error .hoth-message-body {
  font: 11px Menlo, Monaco, Consolas, Courier New, monospace;
}
.hoth-message:first-child {
  border-top: 0;
}
.hoth-message.chat > .hoth-message-header {
  margin-bottom: 8px;
}
.hoth-message-author {
  font-weight: bold;
  display: inline;
}
.hoth-message-time {
  color: rgba(0, 0, 0, .4);
  float: right;
}
.hoth-message-body {
  min-height: 16px;
}
.hoth-message-body,
.hoth-message-measure {
  font: 14px Helvetica, Arial, sans-serif;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.hoth-message-input {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  outline: 0;
  font: inherit;
  width: 100%;
  resize: none;
}
.hoth-message-measure {
  position: absolute;
  left: -99999px;
  top: -99999px;
  width: 100%;
  white-space: pre-wrap;
}
.hoth-message-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-message-input:-moz-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-message-input::-moz-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-message-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-thread-line {
  position: absolute;
}
