body {
  overflow: hidden;
}
.hoth-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  color: #000;
  overflow: auto;
  position: absolute;
  font: 11px Lucida Grande, Tahoma, sans-serif;
  white-space: nowrap;
}

.hoth-lightbox {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}
.hoth-sign-in-form {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  height: 127px;
  margin-top: -64px;
  box-sizing: border-box;
  padding: 8px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.hoth-sign-in-form.register {
  height: 158px;
  margin-top: -79px;
}
.hoth-sign-in-input {
  margin: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background: #fff;
  padding: 4px;
  margin: 0 0 8px;
  font: inherit;
  outline-offset: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
}
.hoth-sign-in-input.error {
  border-color: #b00;
}
.hoth-sign-in-remember {
  display: block;
  margin: 0 0 8px;
}
.hoth-sign-in-button {
  background: linear-gradient(#f8f8f8, #e5e5e5);
  border: 1px solid #bbb;
  margin: 0 8px 0 0;
  padding: 4px 8px;
  font: inherit;
}
.hoth-sign-in-button:active {
  background: linear-gradient(#ccc, #ddd);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, .2);
}
.hoth-sign-in-form.register .sign-in-only {
  display: none;
}
.hoth-sign-in-form.sign-in .register-only {
  display: none;
}

.hoth-thread-scrollbar {
  width: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .05);
  z-index: 2;
}
.hoth-thread-scrollbar-handle {
  position: absolute;
  left: 0;
  width: 8px;
  background: rgba(0, 0, 0, .1);
}
.hoth-thread-markers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hoth-thread {
  width: 300px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 8px;
}
.hoth-thread-name {
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
  background: #ddd;
  font: 14px Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, .8);
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  z-index: 1;
}
.hoth-thread.active .hoth-thread-name {
  color: rgba(255, 255, 255, .95);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  background: #333;
}
.hoth-thread-name::before {
  color: rgba(0, 0, 0, .4);
  content: '! ';
}
.hoth-thread.active .hoth-thread-name::before {
  color: rgba(255, 255, 255, .6);
}
.hoth-thread.topic .hoth-thread-name::before {
  content: '# ';
}
.hoth-thread-content {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.hoth-thread-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hoth-thread-messages {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin: 0 8px 8px 8px;
}
.hoth-message {
  padding: 8px;
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.hoth-message.system {
  background-color: #f8f8f8;
}
.hoth-message.error {
  background-color: #fff5f5;
  color: #a00;
}
.hoth-message.error .hoth-message-body,
.hoth-message-body code {
  font: 11px Menlo, Monaco, Consolas, Courier New, monospace;
}
.hoth-message pre {
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}
.hoth-message:first-child {
  border-top: 0;
}
.hoth-message.chat .hoth-message-header {
  margin-bottom: 8px;
}
.hoth-message-author {
  font-weight: bold;
  display: inline;
}
.hoth-message-time {
  color: rgba(0, 0, 0, .4);
  float: right;
}
.hoth-message-body {
  min-height: 16px;
}
.hoth-message-body,
.hoth-message-measure {
  font: 14px Helvetica, Arial, sans-serif;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.hoth-message.collapsed {
  border-top: 0;
  padding-top: 0;
}
.hoth-message.collapsed .hoth-message-header {
  display: none;
}

.hoth-message-input {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  width: 100%;
  resize: none;
}
.hoth-message-measure {
  position: absolute;
  left: -99999px;
  top: -99999px;
  width: 100%;
  white-space: pre-wrap;
}
.hoth-message-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-message-input:-moz-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-message-input::-moz-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-message-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
.hoth-thread-line {
  position: absolute;
}
